{% block content %}
    <h2>Contact Detail {{ contact.pk }}</h2>
    <p>
      <a href="/contact/">contacts</a>
      <a href="/contact/{{ contact.pk }}/edit">edit</a>
      <a href="/contact/{{ contact.pk }}/delete">delete</a>
    </p>

    <p>
      Name: {{ contact.name }}
    </p>
    <p>
      Address: {{ contact.address }}
    </p>
    <p>
      Phone: {{ contact.phone }}
    </p>

    <p>
      Aliases:
    </p>
    <ul>
        {% for name in name_list %}
            <li>{{ name }}</li>
        {% endfor %}      
    </ul>
{% endblock %}
