<h2>Contact Demo</h2>
<p>
    This application is a demo of the class based generic views.
</p>
<p>
    <a href="https://docs.djangoproject.com/en/1.6/topics/class-based-views/generic-display/">
        Django Class Based views</a>
</p>

<ul>

    <li>
        <a href='/contact/'>Contact Views</a>
    </li>
    <li>
        <a href='/contact/all'>All Contacts</a>
    </li>
    <li>
        <a href='/contact/my-contacts/'>Selected Contacts</a>
    </li>
    <li>
        <a href='/contact/add'>Add New Contact</a>
    </li>

</ul>
