{% extends "guide_theme.html" %}


{% block card %}

    <div class="card">

        <div class="card-header ch-alt">
            <a href="{{ home.1 }}">{{ home.0 }}</a>
            <h1>Student Websites</h1>
            <h2>Course: BACS 200</h2>
        </div>

        <div class="card-body card-padding">

            <p>Be sure that you test your website before submitted your exercise results.</p>
            <p>When you paste your URL into Canvas do a Copy from the browser's address bar.</p>

            <p>This page replaces the old code at <a href="/guide/HtmlApps/Domains">Domains</a></p>
            <table>
                <tr>
                    <th>Domain</th>
                    <th>Test Links</th>
                    <th>Reviews</th>

                </tr>
                {% for student in students %}
                    <tr>
                        <td><a href="http://{{ student.domain }}/index.html">{{ student.domain }}</a></td>
                        {#                        <td><a href="http://validator.w3.org/nu/?doc=http://{{ student.domain }}/index.html">Validate#}
                        {#                            HTML</a></td>#}
                        <td><a href="/unc/student/{{ student.id }}">Test Links</a></td>
                        <td><a href="/unc/reviews/{{ student.id }}">Reviews</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}
