{% extends "guide_theme.html" %}


{% block content %}

    <div class="card">
        <div class="card-header">

            <h1>{{ title }}</h1>
            <p>
                <a href="Slides{{ lesson.0 }}" class="btn">Show Slides</a>
                <a href="Lesson{{ lesson.1 }}" class="btn">Previous Lesson</a>
                <a href="Lesson{{ lesson.2 }}" class="btn">Next Lesson</a>
            </p>

        </div>
        <div class="card-body">


            <div role="tabpanel">

                <ul class="tab-nav" role="tablist">
                    {% for tab in tabs %}
                        <li class="{{ tab.3 }}">
                            <a href="#{{ tab.0 }}" aria-controls="{{ tab.0 }}" role="tab"
                               data-toggle="tab">{{ tab.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">

                    {% for tab in tabs %}

                        <div role="tabpanel" class="tab-pane {{ tab.3 }}" id="{{ tab.0 }}">
                            {% autoescape off %}
                                {{ tab.2 }}
                            {% endautoescape %}
                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>
    </div>

{% endblock %}
