{% extends "guide_theme.html" %}

{% block content %}

    <div class="card">

        <div class="card-header ch-alt">
            <a href="{{ home.1 }}">{{ home.0 }}</a>
            <h1>{{ title }}</h1>
        </div>


        <div class="card-body card-padding">

            {% for p in data.parts %}

                <div id="{{ p.slug }}">

                    <h2>{{ p.title }}</h2>

                    <table>
                        <tr>
                            <th>Week</th>
                            <th>Day</th>
                            <th>Date</th>
                            <th>Lesson</th>
                            <th>Topic</th>
                            <th>Murach</th>
                            <th>zybook</th>
                        </tr>
                        {% for row in p.table %}
                            <tr>
                                {% for c in row %}
                                    <td>
                                        {% autoescape off %}
                                            {{ c }}
                                        {% endautoescape %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
