<!DOCTYPE html>
<html>
<body>

<h1>Teaching Web Dev</h1>

<h2>Crawl</h2>
<ul>
    <li>Create a learning ramp in which students thrive</li>
    <li>Manage levels of learning</li>
    <li>Emphasize programming</li>
    <li>Teach technology in context</li>
</ul>


<h2>Walk</h2>
<ul>
    <li>Create course content to reuse</li>
    <li>Design three stages of learning (Crawl, Walk, Run)</li>
    <li>Optimize skills taught</li>
    <li>Class website</li>
</ul>

<h2>Run</h2>
<ul>
    <li>Build tools for managing class</li>
    <li>Integrate with canvas</li>
    <li>Create student portal</li>

</ul>

<h2>Fly</h2>
<ul>
    <li>Generalize classroom tools for other classes</li>
    <li></li>
    <li></li>
    <li></li>
</ul>


</body>
</html>