{% extends "admin_theme.html" %}


{% block card %}
    <div class="card">

        <div class="card-header ch-alt">
            <h2>{{ card_title }}</h2>
        </div>

        <div class="card-body card-padding">
            {% if detail %}

                {% for x in detail %}

                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <strong>{{ x.0 }}</strong>
                        </div>
                        <div class="col-sm-6">
                            {{ x.1 }}
                        </div>
                    </div>

                {% endfor %}

            {% else %}

                <h2>No users found. </h2>

            {% endif %}

        </div>
    </div>


{% endblock %}

{% block column1 %}
{% endblock %}


{% block column2 %}
{% endblock %}

