{% extends "mybook_theme.html" %}


{% block libs %}
{% endblock %}


{% block card %}
    <div class="card" brd-20>

        <div class="card-header ch-alt">
            <p>{{ title }}</p>

            {% autoescape off %}
                {{ breadcrumbs }}
            {% endautoescape %}

            {# <a href="Index">Index</a>#}
        </div>

        <div class="card-body card-padding">

            {% if text %}
                {% autoescape off %}
                    <p>{{ text }}</p>
                {% endautoescape %}
            {% else %}
                <h2>No document found. {{ doc }}</h2>
            {% endif %}

        </div>

    </div>

{% endblock %}