{% extends "mybook_theme.html" %}

{% block card %}

    <div class="card">

        <div class="card-header ch-alt">
            <div class="row">
                <div class="col-sm-5">
                    <h2>{{ object.title }}</h2>
                </div>
                <div class="col-sm-6">
                    <h2>{{ object.slug }}</h2>
                </div>
                <div class="col-sm-1">
                    <h2>{{ object.pk }}</h2>
                </div>
            </div>

        </div>

        <div class="card-body card-padding">

            {% autoescape off %}
                {{ text }}
            {% endautoescape %}

            <div class="row p-15">
                <a href="/wiki/list">
                    <button class="btn palette-Green bg">Wiki Page List</button>
                </a>
                <a href="/wiki/edit/{{ object.pk }}">
                    <button class="btn palette-Green bg">Edit Doc</button>
                </a>
            </div>

        </div>

    </div>
{% endblock %}


