{% extends "mybook_theme.html" %}


{% block content %}

    <div class="card" brd-20>

        <div class="card-header ch-alt">
            <h2>Page: {{ title }}</h2>
        </div>

        <div class="card-body card-padding">

            {% if text %}
                {% autoescape off %}
                    <p>{{ text }}</p>
                {% endautoescape %}
            {% else %}
                <h2>No document found. {{ doc }}</h2>
            {% endif %}

            <p>
                <a class="btn palette-Green bg" href="/aspire/advisor">More Advice</a>
            </p>

        </div>
    </div>

    <div class="card" brd-20>

        <div class="card-header ch-alt">
            <h2>{{ advice_title }}</h2>
        </div>

        <div class="card-body card-padding">

            <p>
                {% if url %}
                    View online at <a href="{{ url }}">{{ url }}</a>
                {% else %}
                    <h2>No document found.</h2>
                {% endif %}
            </p>
            <p>
                {% if doc %}
                    Read the document at <b>{{ doc }}</b>
                {% else %}
                    <h2>No document found.</h2>
                {% endif %}
            </p>
            <hr>
            {% if text %}
                {% autoescape off %}
                    <p>{{ doc_content }}</p>
                {% endautoescape %}
            {% else %}
                <h2>No document found. {{ doc }}</h2>
            {% endif %}

        </div>
    </div>

{% endblock %}
