{% extends "mybook_theme.html" %}


{% block menu %}
{% endblock %}


{% block content %}

    <div class="card" brd-20>

        <div class="card-body card-padding">

            <div class="jumbotron landing-panel">

                <h2 class="landing-heading">
                    Life is short, so live today!
                </h2>
                <p class="landing-text">
                    Do not allow your dreams to be neglected. Use them to
                    motivate you into action.
                </p>
                <p class="landing-text">
                    Simple steps you can take today:
                </p>
                <ul>
                    <li class="landing-list">
                        Capture all of your dreams in writing
                    </li>
                    <li class="landing-list">
                        Prioritize the most important dreams to work on
                    </li>
                    <li class="landing-list">
                        Build a simple plan to act
                    </li>
                    <li class="landing-list">
                        Put tracking in place to keep you going
                    </li>
                    <li class="landing-list">
                        Use milestones as confirmation and renewed energy
                    </li>
                </ul>

            </div>


            <div class="jumbotron landing-panel">

                <h2 class="landing-heading">
                    Turn Dreams to Reality
                </h2>
                <p class="landing-text">
                    Create a roadmap for the journey. Use each success as a spring-board for more progress.
                    Get expert advice from others that have accomplished similar goals.
                </p>
                <p class="landing-text">
                    Aspire lets you instantly see your current commitments and the progress that you are making
                    on them. An automated guide gives you advise about what you should work on next.
                    Integrated tools track your invested time on each project.
                </p>

            </div>


            <div class="jumbotron landing-panel">

                <h2 class="landing-heading">
                    Signup for Free
                </h2>
                <p class="landing-text">
                    Get started in a few minutes. Basic service is always free. Advanced features are available for
                    $10/month.
                </p>
                <p class="landing-text">
                    <a class="btn palette-Green bg">Signup</a>
                </p>

            </div>

        </div>
    </div>

{% endblock %}

