{% extends "mybook_theme.html" %}


{% block libs %}
{% endblock %}


{% block content %}
    <section id="content">
        <div class="container">

            {% if files %}
                <div class="card" brd-20>

                    <div class="card-header ch-alt">
                        <h2>Files</h2>
                    </div>

                    <div class="card-body card-padding">

                        <h3>Folders</h3>
                        {% for f in folders %}
                            <ul>
                                <li>{{ f }}</li>
                                {#                                <li><a href="/aspire/{% if dir %}{{ dir }}/{% endif %}{{ f }}">{{ f }}</a></li>#}
                            </ul>
                        {% endfor %}

                        <h3>Files</h3>
                        <ul>
                            {% for d in files %}
                                <li>
                                    {{ d.0 }}
                                    {% for f in d.1 %}
                                        <ul>
                                            <li>
                                                {{ f }}
                                            </li>
                                        </ul>
                                    {% endfor %}

                                </li>
                                {#                                <li><a href="/aspire/{% if dir %}{{ dir }}/{% endif %}{{ f }}">{{ f }}</a></li>#}
                            {% endfor %}
                        </ul>
                        <p><a class="btn palette-Green bg" href="/aspire/{% if dir %}{{ dir }}/{% endif %}NewTopic">New
                            Topic</a></p>
                    </div>
                </div>
            {% endif %}


        </div>
    </section>
{% endblock %}

