{% extends "mybook_theme.html" %}



{% block menu %}
{% endblock %}


{% block content %}

    <section id="content">

        {% block cards %}
            <div class="card">
                <div class="card-header ch-alt">
                    <h1>Log In to Aspire</h1>
                </div>

                <div class="card-body card-padding">

                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    <form method="post" action="/aspire/login">
{#                        {% url 'django.contrib.auth.views.login' %}#}
                        {% csrf_token %}

                        <div class="form-group">

                            <div class="row p-0 m-0">

                                <div class="fg-line">
                                    {{ form.username.label_tag }}
                                </div>

                                <div class="fg-line">
                                    <input type="text" class="form-control input" name="username">
                                </div>

                            </div>

                            <div class="row p-t-10 p-b-10">

                                <div class="col-lg-4 fg-line">
                                    {{ form.password.label_tag }}
                                </div>

                                <div class="col-lg-8 fg-line">
                                    {#{{ form.password }}#}
                                    <input type="password" class="form-control input" name="password">
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-3">
                                    <button class="btn palette-Green bg">Log In</button>
                                </div>

                                <div class="col-sm-7">
                                    Don't have a login? <a href="/aspire/signup"><b>Sign Up</b></a> for Free.
                                </div>

                            </div>

                            <input type="hidden" name="next" value="/aspire"/>

                        </div>

                    </form>

                </div>
            </div>
        {% endblock %}

    </section>
{% endblock %}


{% block footer %}
    <footer id="footer">

        <a href="http://shrinking-world.com">
            {# <img src="/static/SWS_Globe_small.jpg"> #}
            <p>Copyright &copy; 2016 Shrinking World Solutions, Inc.</p>
        </a>

    </footer>
{% endblock %}
