{% extends "mybook_theme.html" %}


{% block content %}

    {% if projects %}

        <div class="card" brd-20>

            <div class="card-header ch-alt">
                <h2>Projects</h2>
            </div>

            <div class="card-body card-padding">

                <ul>
                    {% for r in projects %}
                        <li>
                            <a href="/aspire/{{ r.0.name }}">{{ r.0.name }}</a>
                            <ul>
                                {% for p in r.1 %}
                                    <li>
                                        <a href="/aspire/{{ p.name }}/Index">{{ p.name }}</a>, {{ p }}
                                    </li>
                                {% endfor %}

                            </ul>
                        </li>
                        {#                                <li><a href="/aspire/{{ p.0.name }}/Index">{{ p.0.name }}</a>, {{ p.0.role }}</li>#}
                    {% endfor %}
                </ul>

                <p>
                    <a class="btn palette-Green bg" href="/aspire/project_add">
                        New Project
                    </a>
                </p>
            </div>
        </div>

    {% else %}

        <h2>No projects found</h2>

    {% endif %}

{% endblock %}

