{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }} - {{ topic }}</h1>
                </div>

                <div class="card-body card-padding">

                    <form method="post">{% csrf_token %}

                        <div class="row">
                            <label>Topic Name: </label>
                            <input name="topic" value="{{ topic }}">
                        </div>
                        <div class="row">
                            <textarea name="body">{{ text }}</textarea>
                        </div>

                        <div class="row p-20">
                            <button class="btn palette-Green bg">Save</button>
                            <a class="btn palette-Green bg" href="/aspire/doc_delete/{{ doc }}">Delete Doc</a>
                            <a class="btn palette-Green bg" href="/aspire/doc_folder/{{ doc }}">Make Folder</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

