{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="card">

                <div class="card-header ch-alt">
                    <h1> {{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <form method="post">{% csrf_token %}

                        <div class="form-group">
                            <table class="table table-responsive">

                                <tr>
                                    <td><label>Name</label></td>
                                    <td class="fg-line">
                                        <strong>{{ form.name }}</strong>
                                    </td>
                                </tr>

{#                                <tr>#}
{#                                    <td><label>Project</label></td>#}
{#                                    <td class="fg-line">#}
{#                                        <strong>{{ form.project }}</strong>#}
{#                                    </td>#}
{#                                </tr>#}

                                <tr>
                                    <td><label>Part of Goal</label></td>
                                    <td class="fg-line">
                                        <strong>{{ form.parent }}</strong>
                                    </td>
                                </tr>

                            </table>

                        </div>

                        <div class="row p-20">
                            <button class="btn palette-Green bg">Save Goal</button>
                        </div>

                        {#                <input type="hidden" name="project" value="{{ project }}">#}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


