{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1> {{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <form action="/aspire/role_edit/{{ object.pk }}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <table class="table table-responsive">
                                <tr>
                                    <td><label>Name</label></td>
                                    <td class="fg-line">
                                        <strong>{{ form.name }}</strong>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row p-20">
                            <button class="btn palette-Green bg">Save Role</button>
                            <a href="/aspire/role_delete/{{ role.pk }}">
                                <button class="btn palette-Green bg">Delete Role</button>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

