{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <table class="table table-hover">

                        {% for row in values %}
                            <tr>
                                <td>{{ row.0 }}</td>
                                <td><strong>{{ row.1 }}</strong></td>
                            </tr>
                        {% endfor %}

                    </table>

                    <div class="row p-15">
                        <a href="/aspire/role_list">
                            <button class="btn palette-Green bg">Role List</button>
                        </a>
                        <a href="/aspire/role_edit/{{ role.pk }}">
                            <button class="btn palette-Green bg">Edit Role</button>
                        </a>

                    </div>

                </div>

            </div>

            <div class="card">

                <div class="card-header ch-alt">
                    <h2>{{ object.name }} Projects</h2>
                </div>

                <div class="card-body card-padding">
                    <table class="table table-hover">

                        {#{% for label in projects.0 %}#}
                        {#    <th>{{ label }}</th>#}
                        {#{% endfor %}#}

                        <th>{{ projects.0.0 }}</th>
                        <th>{{ projects.0.1 }}</th>
                        <th>{{ projects.0.4 }}</th>
                        {% for row in projects.1 %}
                            <tr>

                                {#{% for value in row %}#}
                                {#    <td>{{ value }}</td>#}
                                {#{% endfor %}#}

                                <td>{{ row.0 }}</td>
                                <td><a href="/aspire/project_detail/{{ row.0 }}">{{ row.1 }}</a></td>
                                <td>{{ row.4 }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                            </td>
                            <td>
                                <strong>Role Total</strong>
                            </td>
                            <td>
                                <strong>{{ projects.2 }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <strong>Grand Total</strong>
                            </td>
                            <td>
                                <strong>{{ projects.3 }}</strong>
                            </td>
                        </tr>
                    </table>

                    <div class="row p-15">
                        <a href="/aspire/project_list">
                            <button class="btn palette-Green bg">Project List</button>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}


