{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <table class="table table-hover">

                        {% for label in labels %}
                            <th>{{ label }}</th>
                        {% endfor %}

                        {% for row in object_list %}
                            <tr>

                                {# {% for value in row %}#}
                                {#   <td>{{ value }}</td>#}
                                {# {% endfor %}#}

                                <td>{{ row.pk }}</td>
                                <td><a href="/aspire/role_detail/{{ row.pk }}">{{ row.name }}</a></td>
                                <td>{{ row.client }}</td>
                                <td>{{ row.client.user.email }}</td>

                            </tr>
                        {% endfor %}

                    </table>

                    <div class="row p-15">
                        <a href="/aspire/role_add">
                            <button class="btn palette-Green bg">Create New Role</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}

