/* ----------------------------------------------- */
/* HTML Elements */

body {
    padding: 0;
    margin: 0;
}

article {
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
    margin: 3em;
    padding: 1em;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

h1 {
    margin: 20px;
    padding: 30px;
    color: #F6B018;
    background-color: #0E3D65;
    border: 5px solid #F6B018;
    text-align: center;
    font-size: 300%;
    box-shadow: 2px 2px 5px gray;
}

h2 {
    color: #0E3D65;
    background-color: #F6B018;
    border: 2px solid #0E3D65;
    text-align: center;
    font-size: 200%;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px gray;
}

h3 {
    margin: 20px;
    font-size: 140%;
}

header {
    border: 5px solid #F6B018;
    background-color: #0E3D65;
    font-family: sans-serif;
    /*height: 200px;*/
    padding: 1.5em;
}

header a {
    color: white;
}

header a:hover {
    color: #F6B018;
}

header h1 {
    color: #F6B018;
    font-size: 300%;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

header h2 {
    color: white;
    font-size: 200%;
    background-color: #0E3D65;
    box-shadow: none;
}

header img {
    float: right;
}


hr {
    border: 4px solid #F6B018;
}

li {
    margin: 5px 3em;
}

p {
    margin-left: 2em;
}

/* ----------------------------------------------- */
/* Classes */

.card {
    padding: 20px;
}

.lesson-table {
    margin: 5%;
    padding: 5%;
}

.page {
    margin: 5%;
    padding: 2em;
    box-shadow: 2px 2px 5px grey;
    background-color: #eeeeee;
    border: 3px solid #0E3D65;
    border-radius: 10px;
}

.pane {
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    padding: 2em;
}

.pane * {
    margin: 20px;
}

.nav-bar .active>.nav-link {
    color: red;
    font-weight: bolder;
}