/* You can add global styles to this file, and also import other style files */

/* --------------------------
        E L E M E N T S
*/

* {
    font-size: 18px;
}

footer {
    color: darkgrey;
    padding: 2em;
    text-align: center;
    padding: 10px;
    border: solid 1px grey;
}

header {
    background-color: dodgerblue;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    margin: 2em;
    padding: 2em;
    /*text-align: center;*/
    border: 1px solid red;
}

header h1 {
    color: yellow;
    box-shadow: none;
    text-align: left;
    padding: 0;
}

header h2 {
    color: white;
    /*background-color: inherit;*/
    box-shadow: none;
    border: none;
    margin: inherit;
    text-align: left;
    padding: 0;
}

hr {
    border: 3px solid dodgerblue;
}

h1 {
    color: dodgerblue;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

h2 {
    border: 1px solid dodgerblue;
    border-radius: 20px;
    box-shadow: 2px 2px 4px grey;
    color: dodgerblue;
    margin: 2em;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #444444;
    text-size: 120%;
}

main {
    margin: 1em;
    padding: 2em;
}

pre {
    border: 1px solid dodgerblue;
    border-left: 3px solid dodgerblue;
    border-right: 3px solid dodgerblue;
    margin-left: 3em;
    padding: 10px 20px;
}


/* --------------------------
        C L A S S E S
*/


.card {
    margin: 1em;
    box-shadow: 2px 2px 5px grey;
}

.card-header {
    background-color: dodgerblue;
}

.content {
    background-color: #eee;
    box-shadow: 2px 2px 6px black;
    padding: 2em;
}

.logo {
    /*float: right;*/
    margin: 2em;
}

.logo img {
    border-radius: 20px;
    box-shadow: -2px -2px 6px black;
}

.nav-brand {
    color: yellow;
}

.page {
    border: 1px solid black;
    box-shadow: 2px 2px 5px grey;
    padding: 2em;
}

.panel {
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px grey;
    padding: 2em;
}

.profile img {
    width: 200px;
    border-radius: 100px;
}