/*  ------------------------------
    Colors
------------------------------

Purple      -- #0E3D65
Gold        -- #F6B018

*/

/* ------------------------------
    Elements
------------------------------*/

body {
    font-size: 18px;
    color: #0E3D65;
}

footer {
    text-align: center;
}

footer a {
    color: #0E3D65;
}

form label {
    width: 100px;
}

form input {
    width: 300px;
}

h1 {
    margin: 20px;
    padding: 30px;
    color: #F6B018;
    background-color: #0E3D65;
    border: 5px solid #F6B018;
    text-align: center;
    font-size: 300%;
}

h2 {
    color: #0E3D65;
    background-color: #F6B018;
    border: 2px solid #0E3D65;
    text-align: center;
    font-size: 200%;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px gray;
}

h3 {
    font-size: 150%;
    margin: 10px 20px;
    padding: 10px 20px;
}

header {
    border: 2px solid white;
    background-color: #0E3D65;
    color: #F6B018;
    width: 100%;
    border: 1px solid green;
}

header a {
    color: white;
}

header a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

header h1 {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 200%;
}

header h2 {
    color: white;
    background-color: #0E3D65;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 120%;
    text-align: left;
    width: 100%;
    box-shadow: none;
}

header img {
    background: white url("/static/images/unc/bacs200/Bear_Logo.png") no-repeat;
    border-radius: 20px;
    border: 10px solid white;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    height: 115px;
    width: 115px;
}

header .logo-text {
    font-size: 18px;
    font-weight: bolder;
    color: #F6B018;
    text-align: center;
    box-shadow: none;
}

i {
    padding: 0px;
    margin: 10px;
}

li {
    line-height: 3em;
    margin: 1em 0em;
}

img {
    max-width: 800px;
    box-shadow: 2px 2px 5px gray;
    border: 1px solid black;
    margin: 2em;
    padding: 2em;
}

main {
    background-color: #0E3D65;
    color: #F6B018;
}

p {
    margin: 1em;
    padding: 1em;
}

pre {
    background-color: #eee;
    color: #444;
    margin: 10px 100px;
}

span {
    padding: 5px;
}

table {
    width: 100%;
    margin: 2em;
}

td {
    min-width: 5em;
    margin: 20px;
    padding: 0px 20px 10px 0px;
}

/* ------------------------------
    Class
------------------------------*/

.box {
    box-shadow: -2px -2px 5px gray;
    background-color: white;
    margin: 40px;
    padding: 20px;
}

.btn {
    color: white;
    background-color: #0E3D65;
    font-size: 120%;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    width: 180px;
}

.card {
    border: 4px solid #F6B018;
}

.card-body {
    padding: 20px;
}

.card-header {
    border: 3px solid #F6B018;
    background-color: #0E3D65;
}

.card-header a {
    color: white;
}

.card-header a:hover {
    color: yellow;
}

.card-header h2 {
    font-size: 150%;
    border: none;
}

.lesson-title {
    color: red;
}

.lesson-table {
    margin: 3em;
    padding: 3em;
}

.lesson-table tr {
    height: 3em;
}

.lesson-table td {
    margin: 1em;
}

.page {
    box-shadow: 2px 2px 5px gray;
    background-color: white;
    border: 1px solid black;
    margin: 40px;
    padding: 50px;
}

.user-btn {
    color: white;
    background-color: #0E3D65;
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    width: 180px;
}

.user-text * {
    color: white;
    padding: 5px;
    margin: 5px;
}

/* ------------------------------
    ID
------------------------------*/

#content a {
    color: #F6B018;
    background-color: #0E3D65;
    padding: 10px;
    margin: 10px;
    border: 2px solid #F6B018;
    border-radius: 30px;
}


#s-main-menu li {
    margin: auto;
}

