{% extends "mybook_theme.html" %}


{% block card %}

    <div class="card">

        <div class="card-header ch-alt">
            <h1>My Life Story</h1>
            <p>by Mark Seaman</p>
        </div>

        <div class="card-body card-padding">
            <a href="/life/experience" class="btn">Life Experiences</a>

            <h3>Intro</h3>
            <p>The meaning of life is a great mystery that requires some deep thinking to understand. My life feels
                valuable when four different objectives are met.

                Consider these four dimensions of well-being.</p>
            <p>* Contribute * Relate * Learn * Enjoy *</p>


            <h3>Contribute</h3>
            <p>
                One of the greatest joys is to feel that I have made a significant contribution to benefit someone else.
                This is far more rewarding to me than simply doing something that only meets my needs.
            </p>


            <h3>Relate</h3>
            <p>All people are social beings. Even us introverts need someone that cares deeply about us
                and whom which we care deeply about. The quality of our lives can be measured to a large
                extent by the quality of our closest relationships. Experiencing true and deep connection
                promote overall well-being in every other area.
            </p>


            <h3>Learn</h3>
            <p>
                Building knowledge and understanding is one of the greatest joys of my life. Learning new skills and new
                ways of thinking bring purpose and meaning. Throughout my life I have had a love of learning. Curiosity
                and creativity are very high values for me. I hope to keep growing in knowledge and wisdom for the rest
                of my life.
            </p>


            <h3>Enjoy</h3>
            <p>
                Living in the moment, is experiencing life for what it is. I often am so focused on the future and what
                is not yet a reality that I fail to celebrate or savor what is already happening. I desire to experience
                life fully as it unfolds rather than miss it and feel regrets. I will embrace reality with both its
                sorrow and joys.
            </p>

        </div>

    </div>

{% endblock %}
