{% extends "mybook_theme.html" %}

{% block content %}
    <div class="card">

        <div class="card-header ch-alt">
            <h1>{{ title }}</h1>
        </div>

        <div class="card-body card-padding">

            <div role="tabpanel">

                <ul class="tab-nav" role="tablist">
                    <li class="active">
                        <a href="#month" aria-controls="month" role="tab" data-toggle="tab">MONTH</a>
                    </li>
                    <li>
                        <a href="#year" aria-controls="year" role="tab" data-toggle="tab">YEAR</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="month">

                        <p>Total income and spending for <strong>Current Month</strong>.</p>
                        {{ month }}

                    </div>

                    <div role="tabpanel" class="tab-pane" id="year">

                        <p>Total income and spending for <strong>Last Year</strong>.</p>
                        <p><strong>{{ num_months }}</strong> months of data.</p>
                        {{ year }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}