{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <form action="/church/church_budget_add" method="post">{% csrf_token %}
                        <div class="form-group">


                            <div class="row p-20">
                                <div class="col-sm-3 text-right">Year</div>
                                <div class="col-sm-7"><input type="int" name="year" value="2017"/></div>
                            </div>
                            <div class="row p-20">
                                <div class="col-sm-3 text-right">Month</div>
                                <div class="col-sm-7"><input type="int" name="month" value="08"/></div>
                            </div>

                            <div class="row p-20">
                                <button class="btn palette-Green bg">Create Month Record</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
    </section>
{% endblock %}


