{% extends "church.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <table>
                        <tr>
                            <td>
                                <label>Meeting ID: </label>
                            </td>
                            <td>
                                <b>{{ object.pk }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Week of event: </label>
                            </td>
                            <td>
                                <b>{{ object.date }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Purpose: </label></td>
                            <td>
                                <b>{{ object.name }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Duration: </label>
                            </td>
                            <td>
                                <b>{{ object.duration }} hours</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Participants: </label>
                            </td>
                            <td>
                                <b>{{ object.participants }} people </b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Total Hours: </label>
                            </td>
                            <td>
                                <b>{{ hours }} hours</b>
                            </td>
                        </tr>
                    </table>

                    <br>
                    <br>

                    <a href="/church/church_event_list/{{ date }}">
                        <button class="btn palette-Teal bg">Church Meetings</button>
                    </a>

                    <a href="/church/church_event_edit/{{ object.pk }}">
                        <button class="btn palette-Teal bg">Edit This Meeting</button>
                    </a>

                    <a href="/church/church_event_delete/{{ object.pk }}">
                        <button class="btn palette-Teal bg">Delete This Meeting</button>
                    </a>


                </div>

            </div>
        </div>
    </section>
{% endblock %}


