{% extends "church_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                {#                <div class="card-header ch-alt">#}
                {#                    <h1>Church</h1>#}
                {#                </div>#}

                <div class="card-body card-padding">

                    {% autoescape off %}
                        <p>{{ card_text }}</p>
                    {% endautoescape %}

                </div>
            </div>
        </div>

    </section>
{% endblock %}

