{% extends "church.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <div class="container">
                        {% for row in header %}
                            <div class="row p-10">

                                <div class="col-sm-3 text-right">
                                    {{ row.0 }}:
                                </div>
                                <div class="col-sm-6 f-700">
                                    {{ row.1 }}
                                </div>

                            </div>
                        {% endfor %}

                        <div class="row p-10">
                            <p>
                                All values are totals for the last four weeks of spending.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-header ch-alt">
                    <h2>Weekly Money Summary</h2>
                </div>

                <div class="card-body card-padding">

                    <p>
                        All values are totals for the last four weeks of spending.
                    </p>

                    <table class="table p-20">

                        {% for row in weekly %}
                            <tr>
                                <td>
                                    {{ row.0 }}
                                </td>
                                <td class="f-700">
                                    {{ row.1 }}
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                    <div class="row p-20">
                        <a class="p-20" href="/church/church_budget_edit/{{ object.pk }}">
                            <button class="btn palette-Teal bg">Edit Money Record</button>
                        </a>
                        {#<a class="p-20" href="/church/church_budget_delete/{{ object.pk }}">#}
                        {#<button class="btn palette-Teal bg">Delete Money Record</button>#}
                        {#</a>#}
                    </div>

                </div>
            </div>

            <div class="card">

                <div class="card-header ch-alt">
                    <h2>Yearly Money Summary</h2>
                </div>

                <div class="card-body card-padding">

                    <p>
                        All values are shown as the average for each of the available months.
                    </p>
                    {% for row in summary %}
                        <div class="row p-10">

                            <div class="col-sm-3 text-right">
                                {{ row.0 }}:
                            </div>
                            <div class="col-sm-6 f-700">
                                {{ row.1 }}
                            </div>

                        </div>
                    {% endfor %}


                    <table class="table p-20">

                        {% for row in yearly %}
                            <tr>
                                <td>
                                    {{ row.0 }}
                                </td>
                                <td class="f-700">
                                    {{ row.1 }}
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>
    </section>
{% endblock %}


