{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">

                    <table class="table table-hover">

                        <tr>
                            {% for x in labels %}
                                <th>{{ x }}</th>
                            {% endfor %}
                        </tr>

                        {% for row in months %}

                            <tr>

                                <td>
                                    <a href="/church/church_budget_detail/{{ row }}">{{ row }}</a>
                                </td>
                                <td>
                                    <a href="/church/church_budget_edit/{{ row }}">Edit</a>
                                </td>
                            </tr>

                        {% endfor %}

                    </table>

                    <br>
                    <br>

                    <a href="/church/church_budget_add">
                        <button class="btn palette-Green bg">Add Month</button>
                    </a>

                </div>
            </div>
        </div>

    </section>
{% endblock %}


