<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/material/css/app.min.1.css" rel="stylesheet">
    <style>
        td { min-width: 10em; text-align: right; }
        th { min-width: 10em; text-align: right; }
    </style>
</head>

<body>

    <h1>{{ title }}</h1>

    <h2>Last Month</h2>

    <p>Total income and spending for <strong>Last Month</strong>.</p>
    {{ month }}

    <h2>Last Year</h2>

    <p>Total income and spending for <strong>Last Year</strong>.</p>
    <p><strong>{{ num_months }}</strong> months of data.</p>
    {{ year }}

</body>

