{% extends "mybook_theme.html" %}

{% load humanize %}

{% block content %}

    <div class="card">

        <div class="card-header">
            <h1>{{ title }}</h1>
        </div>

        <div class="card-body card-padding">

            <table class="table table-hover">

                <th>Date</th>
                <th>Giving</th>
                <th>Designated</th>
                <th>Staff</th>
                <th>Operations</th>
                <th>Ministry</th>
                <th>Rent</th>
                <th>Other Revenue</th>
                <th>Improvements</th>

                {% for month in object_list %}
                    <tr>
                        <td><a href="money/{{ month.month }}">{{ month.month }}</a></td>
                        <td>${{ month.giving|intcomma }}</td>
                        <td>${{ month.designated|intcomma }}</td>
                        <td>${{ month.staff|intcomma }}</td>
                        <td>${{ month.operations|intcomma }}</td>
                        <td>${{ month.ministry|intcomma }}</td>
                        <td>${{ month.rent|intcomma }}</td>
                        <td>${{ month.other_revenue|intcomma }}</td>
                        <td>${{ month.building|intcomma }}</td>
                    </tr>
                {% endfor %}

            </table>

            <a href="/church/money_add">
                <button class="btn palette-Green bg">Add Month Record</button>
            </a>

        </div>
    </div>

{% endblock %}
