{% extends "mybook_theme.html" %}

{% load humanize %}

{% block content %}
    <div class="card">

        <div class="card-header ch-alt">
            <h1>{{ title }}</h1>
        </div>

        <div class="card-body card-padding">

            <h2>Month: {{ m.month }}</h2>

            <table>
                <tr>
                    <th></th>
                    <th style="width: 300px">Category</th>
                    <th>Month</th>
                    <th>YTD</th>
                </tr>
                <tr>
                    <td><br><br></td>
                </tr>
                <tr class="table-section">
                    <td><b>General Fund Cash Flow</b></td>
                    <td></td>
                    <td><b>${{ budget|intcomma }}</b></td>
                    <td><b>${{ ybudget|intcomma }}</b></td>
                </tr>
                <tr>
                    <td><br><br></td>
                </tr>
                <tr>
                    <td><b>Revenue</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Regular Giving</td>
                    <td>${{ m.giving|intcomma }}</td>
                    <td>${{ y.giving|intcomma }}</td>
                </tr>
               <tr>
                    <td></td>
                    <td>Designated Giving</td>
                    <td>${{ m.designated|intcomma }}</td>
                    <td>${{ y.designated|intcomma }}</td>
                </tr>
                <tr>
                    <td><b>Expense</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Staff</td>
                    <td>${{ m.staff|intcomma }}</td>
                    <td>${{ y.staff|intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Operations</td>
                    <td>${{ m.operations|intcomma }}</td>
                    <td>${{ y.operations|intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ministry</td>
                    <td>${{ m.ministry|intcomma }}</td>
                    <td>${{ y.ministry|intcomma }}</td>
                </tr>
                <tr>
                    <td><br><br></td>
                </tr>
                <tr class="table-section">
                    <td><b>Capital Fund Cash Flow</b></td>
                    <td></td>
                    <td><b>${{ building|intcomma }}</b></td>
                    <td><b>${{ ybuilding|intcomma }}</b></td>
                </tr>
                <tr>
                    <td><br><br></td>
                </tr>
                <tr>
                    <td><b>Revenue</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Rental Income</td>
                    <td>${{ m.rent|intcomma }}</td>
                    <td>${{ y.rent|intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Other Income</td>
                    <td>${{ m.other_revenue|intcomma }}</td>
                    <td>${{ y.other_revenue|intcomma }}</td>
                </tr>
                <tr>
                    <td><b>Expense</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Improvements</td>
                    <td>${{ m.building|intcomma }}</td>
                    <td>${{ y.building|intcomma }}</td>
                </tr>
                <tr>
                    <td><br><br></td>
                </tr>
                <tr class="table-section">
                    <td><b>Total Cash Flow</b></td>
                    <td></td>
                    <td><b>${{ total|intcomma }}</b></td>
                    <td><b>${{ ytotal|intcomma }}</b></td>
                </tr>
            </table>

             <a href="/church/money_edit/{{ m.pk }}">
                <button class="btn palette-Green bg">Edit Month Record</button>
            </a>

        </div>
    </div>

{% endblock %}