<!doctype html>
<html lang="en">

<head>
    <title>BACS 200 - Bootstrap Templates</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.unco.edu/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/unc.css">
</head>

<body>

    <!-- Main -->
    <main class="page">

        <h1>Tabs View Example</h1>
        <p><a href="bootstrap.html">BACS 200 - Bootstrap Templates</a></p>
        <p>This code demostrates the use of the Bootstrap tab display.</p>
        <hr>


        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="tab-1" href="#nav-1" aria-controls="nav-1" aria-selected="true" role="tab" data-toggle="tab">
                    Student
                </a>
                <a class="nav-item nav-link" id="tab-2" href="#nav-2" aria-controls="nav-2" aria-selected="false" role="tab" data-toggle="tab">
                    Reading
                </a>
                <a class="nav-item nav-link" id="tab-3" href="#nav-3" aria-controls="nav-3" aria-selected="false" role="tab" data-toggle="tab">
                    Projects
                </a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-1" aria-labelledby="tab-1" role="tabpanel">
                {% if student %}
                <h3>{{ student }}</h3>

                <h1>Student Dashboard</h1>
                <h2>{{ student.name }}</h2>

                <table>
                    <tr>
                        <td>Name</td>
                        <td>{{ student.name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ student.email }}</td>
                    </tr>
                    <tr>
                        <td>Domain</td>
                        <td>{{ student.domain }}</td>
                    </tr>
                </table>

                <h2>URL Game</h2>

                <p>Questions Answered: <b>{{ game.answered }}</b></p>
                <p>Questions Left to Answer <b>{{ game.left }}</b></p>
                <p><a href="/unc/url-question/{{ student.pk }}">Play Game</a> </p>

                {% endif %}
            </div>
            <div class="tab-pane fade" id="nav-2" aria-labelledby="tab-2" role="tabpanel">
                <h3>READING</h3>
                <p>reading info.</p>
            </div>
            <div class="tab-pane fade" id="nav-3" aria-labelledby="tab-3" role="tabpanel">
                <h3>PROJECTS</h3>
                <p>project info.</p>
            </div>
        </div>


    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>
