{% extends "unc_theme.html" %}


{% block card %}
    <div class="card">

        {% if photo %}
            <p><img src="/static/images/{{ photo }}"></p>
            <p>by Mark Seaman </p>
        {% endif %}


        {% if text %}
            {% autoescape off %}
                <p>{{ text }}</p>
            {% endautoescape %}
        {% else %}
            <h2>No document found. {{ doc }}</h2>
        {% endif %}


        {% if lessons %}
            <h2>Lessons</h2>
            <table class="lesson-table">
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.date }} - Lesson #{{ lesson.lesson }}. {{ lesson.title }}</td>
                        <td><a href="{{ lesson.content }}">Lesson #{{ lesson.lesson }}</a></td>
                        <td><a href="{{ lesson.content }}/slides">Slides #{{ lesson.lesson }}</a></td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <h2>No lessons found. {{ lessons }}</h2>
        {% endif %}


        {% if readmore %}
            <p>Read more <a href="{{ readmore.1 }}">{{ readmore.0 }}</a></p>
        {% endif %}

    </div>

{% endblock %}
