{% extends "unc_bacs_theme.html" %}


{% block main %}
    <div class="card">

        <h1>{{ title }}</h1>


        {% if lessons %}
            <table class="table table-hover lesson-table">
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.date }}</td>
                        <td><b>{{ lesson.title }}</b></td>
                        <td><a href="/unc/{{ course }}/lesson/{{ lesson.lesson_id }}">Lesson #{{ lesson.lesson }}</a></td>
                        <td><a href="/unc/{{ course }}/lesson/{{ lesson.lesson_id }}/slides">Slides #{{ lesson.lesson }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}


        {% if readmore %}
            <p>Read more <a href="{{ readmore.1 }}">{{ readmore.0 }}</a></p>
        {% endif %}

    </div>

{% endblock %}
