{% extends "unc_bacs_theme.html" %}


{% block main %}
    <div class="card">

        <h1>Lessons List</h1>


        {% if lessons %}
            <h2>Lessons</h2>
            <table class="table table-hover lesson-table">
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.date }}</td>
                        <td>Lesson {{ lesson.lesson }}</td>
                        <td><b>{{ lesson.title }}</b></td>
                        <td><a href="{{ lesson.content }}">Lesson #{{ lesson.lesson }}</a></td>
                        <td><a href="{{ lesson.content }}/slides">Slides #{{ lesson.lesson }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}


        {% if readmore %}
            <p>Read more <a href="{{ readmore.1 }}">{{ readmore.0 }}</a></p>
        {% endif %}

    </div>

{% endblock %}
