{% extends "unc_bacs_theme.html" %}


{% block main %}

    {% if students %}
        <h2>Student Domains</h2>

        <table class="table table-hover">

            <tr>
                <th>Student</th>
                <th>Dashboard</th>
                <th>Home</th>
            </tr>
            {% for student in students %}

                <tr>
                    <td>
                        {{ student.name }}
                    </td>
                    <td>
                        <a href="/unc/student/{{ student.id }}" target="_blank">Student</a>
                    </td>
                    <td>
                        <a href="http://{{ student.domain }}/bacs200/" target="_blank">{{ student.domain }}/bacs200/</a>
                    </td>
                </tr>

            {% endfor %}

        </table>

    {% else %}
        <h1>No Student Domains registered</h1>
    {% endif %}


{% endblock %}
