{% extends "unc_theme.html" %}


{% block card %}
    <div class="card">

        <h1>Create your BACS 200 Account</h1>

        <p>The BACS 200 class uses this server to manage all of the student data.</p>
        <p>Register for BACS 200 Student Account.</p>
        <p>Register your domain URL at Bluehost. Where is your website?</p>

        <form action="/unc/register" method="post"> {% csrf_token %}
            <div class="lesson-table">
                <table>
                    <tr>
                        <td><label>Bear Email</label></td>
                        <td><input type="text" name="email" placeholder="your bear email"></td>
                    </tr>
                    <tr>
                        <td><label>Name</label></td>
                        <td><input type="text" name="name" placeholder="your name"></td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td><input type="password" name="password" placeholder=""></td>
                    </tr>
                    <tr>
                        <td><label>Domain</label></td>
                        <td><input type="text" name="domain" placeholder="your Bluehost domain"></td>
                    </tr>
                </table>
                <div>
                    <input type="submit" value="Register Domain">
                </div>
            </div>
        </form>

    </div>

{% endblock %}
