<!doctype html>
<html lang="en">

    <head>
        <title>{{ title }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://www.unco.edu/favicon.ico">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/blog.css">
    </head>

    <body>

        <!-- Header -->
        <header>
            <img src="/static/images/unc/Bear.100.png" alt="Bear Logo">
            <div>
                <h1>{{ site.0 }}</h1>
                <h2><a href="{{ site.2 }}">{{ site.1 }}</a></h2>
            </div>
        </header>

        <!-- Main -->
        <main class="page">

            {% block main %}
                <h1>No Content -- See the system admin</h1>
            {% endblock %}

        </main>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
