<!doctype html>
<html lang="en">

    <head>
        <title>{{ title }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://www.unco.edu/favicon.ico">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/blog.css">
    </head>

    <body>

        <!-- Header -->
        <header>
            <img src="/static/images/unc/Bear.100.png" alt="Bear Logo">
            <div>
                <h1>{{ site.0 }}</h1>
                <h2><a href="{{ site.2 }}">{{ site.1 }}</a></h2>
            </div>
        </header>


        <!-- Nav -->
        {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {# <span class="sr-only">(current)</span>#}
                        <li class="nav-item {{ lesson_active }}">
                            <a class="nav-link" href="/unc/bacs200/lesson/">Lessons </a>
                        </li>
                        <li class="nav-item  {{ student_active }}">
                            <a class="nav-link" href="/unc/registered">Students</a>
                        </li>
                        <li class="nav-item {{ resource_active }}">
                            <a class="nav-link" href="/unc/bacs200/Resources">Resources</a>
                        </li>
                        <li class="nav-item {{ project_active }}">
                            <a class="nav-link" href="/unc/bacs200/projects/Index">Projects</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}


        <!-- Main -->
        <main class="page">

            {% block main %}
                <h1>No Content -- See the system admin</h1>
            {% endblock %}

        </main>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
