{% extends "workshop_theme.html" %}

{% block card %}

    <form method="post">{% csrf_token %}
        <div class="form-group">
            <table class="table table-responsive">

                <tr>
                    <td><label>{{ form.category.label_tag }}</label></td>
                    <td class="fg-line">
                        <strong>{{ form.category }}</strong>
                    </td>
                </tr>
                <tr>
                    <td><label>{{ form.dollars.label_tag }}</label></td>
                    <td class="fg-line">
                        <strong>{{ form.dollars }}</strong>
                    </td>
                </tr>
                <tr>
                    <td><label>{{ form.date.label_tag }}</label></td>
                    <td class="fg-line">
                        <strong>{{ form.date }}</strong>
                    </td>
                </tr>

            </table>

        </div>

        <div class="row p-20">
            <button class="btn palette-Green bg">Save Money</button>
        </div>

    </form>

{% endblock %}


