{% extends "mybook_columns.html" %}


<!-- Column 1 -->

{% block column1 %}

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Column #1</h2>
        </div>
        <div class="card-body card-padding">
            <a href="/mybook">Card 1</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Column #1</h2>
        </div>
        <div class="card-body card-padding">
            <a href="/mybook">Card 2</a>
        </div>
    </div>

{% endblock %}



<!-- Column 2 -->

{% block column2 %}
    <div class="card">
        <div class="card-header ch-alt">
            <h2>Column #2</h2>
        </div>
        <div class="card-body card-padding">
            <a href="/mybook">Card 3</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Column #2</h2>
        </div>
        <div class="card-body card-padding">
            <a href="/mybook">Card 4</a>
        </div>
    </div>

{% endblock %}
