{% block user %}
    <div class="user-text row pull-right">

        {% if user.is_authenticated and user.is_staff %}

            <div class="col-sm-6">
                <p>
                    <span class="user-text">Logged In as {{ user.username }}. </span>
                </p>
                <p>
                    <span class="user-text">
                        <a href="/aspire/password_change">Change password</a>
                    </span>
                </p>
            </div>
            <div class="col-sm-6">

                <a href="/aspire/logout">
                    <div class="btn user-btn btn-lg p-10">
                        <i class="zmdi zmdi-lock"></i>
                        <span class="m-10">Log Out</span>
                    </div>
                </a>
            </div>

        {% else %}

            <a href="/aspire/login/?next=/aspire/">
                <div class="btn user-btn btn-lg p-10">
                    <i class="zmdi zmdi-lock"></i><span class="m-10">Log In</span>
                </div>
            </a>

            {% if not hide_signup %}
                <a href="/aspire/signup">
                    <div class="btn user-btn btn-lg p-10">
                        <i class="zmdi zmdi-key"></i><span class="m-10">Sign Up</span>
                    </div>
                </a>
            {% endif %}

        {% endif %}

    </div>
{% endblock %}
