{% extends "mybook_theme.html" %}


{% block content %}
    <div class="card">

        <div class="card-header ch-alt">
            <h1>{{ title }}</h1>
        </div>

        <div class="card-body card-padding">
            <div class="row p-20">

                <p>Uploaded Files</p>
                <ul>
                    {% for f in upload %}
                        <li><a href="/static/client-files/upload/{{ f }}" target="_blank">{{ f }}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div class="card">

        <div class="card-header ch-alt">
            <h2>Upload a file</h2>
        </div>

        <div class="card-body card-padding">

            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">

                    {{ form.errors }}

                    <div class="card-body card-padding">

                        <div class="row">

                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn palette-Green bg btn-file ">
                                    <input type="file" name="filename">
                                    <span class="fileinput-new">Upload file</span>
                                    <span class="fileinput-exists">Change file</span>
                                </span>

                                <span class="fileinput-filename"></span>

                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                            </div>

                        </div>

                        <div class="row">
                            <button class="btn palette-Green bg">Save</button>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}


