{% extends "mybook_columns.html" %}


{% block action-menu %}

    <aside id="s-user-alerts" class="sidebar">
        <ul class="tab-nav tn-justified tn-icon m-t-10" data-tab-color="teal">
            <li>
                <a class="sua-messages" href="#sua-messages" data-toggle="tab">
                    <i class="zmdi zmdi-email"></i></a>
            </li>
            <li>
                <a class="sua-notifications" href="#sua-notifications" data-toggle="tab">
                    <i class="zmdi zmdi-notifications"></i>
                </a>
            </li>
            <li>
                <a class="sua-tasks" href="#sua-tasks" data-toggle="tab">
                    <i class="zmdi zmdi-view-list-alt"></i>
                </a>
            </li>
        </ul>
    </aside>

{% endblock %}


{% block column1 %}

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Demo 7</h2>
        </div>
        <div class="card-body card-padding">
            <p>
                This demo shows how to use the action-menu block and menu block in a view.
            </p>
        </div>
    </div>

{% endblock %}


