<html>
    <head>
        <style>
            div.bar {
                border: solid 2px black;
                width: 500px;
                height: 100px;
                margin: 5px;
                padding: 5px;
            }

            div.amount {
                background-color: #00B8D4;
                height: 80px;

            }
        </style>
    </head>
    <body>
        <h1>Div Experiments</h1>
        <div>
            <div class="bar">
                Work
                <div class="amount" style="width:600px">120%</div>
            </div>
            <div class="bar">
                Grow
                <div class="amount" style="width:450px">90%</div>
            </div>
            <div class="bar">
                People
                <div class="amount" style="width:400px">80%</div>

            </div>
            <div class="bar">
                Fun
                <div class="amount" style="width:500px">100%</div>

            </div>
        </div>
    </body>
</html>