{% extends "mybook_columns.html" %}

{% block column1 %}

    <!-- Demo Pages -->
    <div class="card">
        <div class="card-header ch-alt">
            <h2>Demo pages</h2>
        </div>
        <div class="card-body card-padding">
            <ul>
                <li>
                    <a href="/mybook">Home</a>
                </li>
                <li>
                    <a href="/workshop/test">Test</a>
                </li>
                <li>
                    <a href="/workshop/demo/1">Demo 1</a>
                </li>
                <li>
                    <a href="/workshop/demo/2">Demo 2</a>
                </li>
                <li>
                    <a href="/workshop/demo/3">Demo 3</a>
                </li>
                <li>
                    <a href="/workshop/demo/4">Demo 4</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Demo 4</h2>
        </div>
        <div class="card-body card-padding">
            <p>
                This demo shows how to use the two column templates to lay out two columns of cards on a view.
            </p>
        </div>
    </div>

    <!-- Leverage -->
    <div class="card">
        <div class="card-header ch-alt">
            <h2>The Leverage Principle
                <small>by Mark Seaman</small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/static/images/Leverage_Principle_Small.jpg">
                </div>
                <div class="col-sm-6">

                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block column2 %}

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Content Card 1</h2>
        </div>
        <div class="card-body card-padding">
            <p>
                This demo shows an overridable block for content that can be replaced in the
                template.
            </p>
            <p>
                Loading <a href="/workshop/demo/2">Demo 2</a> should NOT show this text. Loading
                <a href="/workshop/demo/3">Demo 3</a> should show this text.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Content Card 2</h2>
        </div>
        <div class="card-body card-padding">

            <p>
                This demo shows an overridable block for content that can be replaced in the
                template.
            </p>
            <p>
                Loading <a href="/workshop/demo/2">Demo 2</a> should NOT show this text. Loading
                <a href="/workshop/demo/3">Demo 3</a> should show this text.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Content Card 3</h2>
        </div>
        <div class="card-body card-padding">

            <p>
                This demo shows an overridable block for content that can be replaced in the
                template.
            </p>
            <p>
                Loading <a href="/workshop/demo/2">Demo 2</a> should NOT show this text. Loading
                <a href="/workshop/demo/3">Demo 3</a> should show this text.
            </p>
        </div>
    </div>

{% endblock %}


{% block user %}
{% endblock %}


{% block menu %}
{% endblock %}
