{% extends "mybook_theme.html" %}

{% block card %}
    <div class="card">

        <div class="card-header ch-alt">
            <h1>{{ title }}</h1>
        </div>

        <div class="card-body card-padding">

            <form method="post">{% csrf_token %}
                <div class="form-group">

                    {{ form.errors }}

                    <div class="row p-20">
                        <div class="col-sm-3 text-right">{{ form.title.label_tag }}</div>
                        <div class="col-sm-7">{{ form.title }}</div>
                    </div>

                    <div class="row p-20">
                        <div class="col-sm-3 text-right">{{ form.text.label_tag }}</div>
                        <div class="col-sm-7">{{ form.text }}</div>
                    </div>

                    <div class="row p-20">
                        <button class="btn palette-Green bg">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}


