{% extends "mybook_theme.html" %}


{% block content %}
    <div class="card">

        <div class="card-header ch-alt">
            <h2>My Book Home
                <small>Simple page example</small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <p>
                Four score and seven years
                is a long time to wait...
            </p>
        </div>

    </div>

    <div class="card">
        <div class="card-header ch-alt">
            <h2>Related pages</h2>
        </div>
        <div class="card-body card-padding">
            <ul>
                <li>
                    <a href="/mybook/test">Test</a>
                </li>
                <li>
                    <a href="/mybook/Index">Documents on Server</a>
                </li>
                <li>
                    <a href="/mybook/aspire/Index">Aspire</a>
                </li>
                <li>
                    <a href="/mybook/mybook/Index">MyBook</a>
                </li>
                <li>
                    <a href="/mybook/tech/Index">Seaman Tech</a>
                </li>
        </ul>
        </div>
    </div>

{% endblock %}