{% extends "mybook_columns.html" %}


{% block column1 %}


    <!-- Quick Test -->
    <div class="card">

        <div class="card-header ch-alt">
            <h2>Quick Test</h2>
        </div>

        <div class="card-body card-padding">
            <ul>
                <li>
                    <a href="/workshop/login">Login to workshop</a>
                </li>
                <li>
                    <a href="/workshop/no_access">No Access</a>
                </li>
                <li>
                    <a href="/workshop/logout">Logout</a>
                </li>
               <li>
                    <a href="/superuser">Superuser</a>
                </li>
                <li>
                    <a href="/workshop/Index">workshop Index</a>
                </li>
                <li>
                    <a href="/workshop/private/Index">workshop Private Index</a>
                </li>
            </ul>


        </div>
    </div>

{% endblock %}


{% block column2 %}

    <!-- Demo Pages -->
    <div class="card">
        <div class="card-header ch-alt">
            <h2>Demo pages</h2>
        </div>
        <div class="card-body card-padding">
            <ul>
                <li>
                    <a href="/workshop">Home</a>
                </li>
                <li>
                    <a href="/workshop/demo/1">Demo 1</a>
                </li>
                <li>
                    <a href="/workshop/demo/2">Demo 2</a>
                </li>
                <li>
                    <a href="/workshop/demo/3">Demo 3</a>
                </li>
                <li>
                    <a href="/workshop/demo/4">Demo 4</a>
                </li>
                <li>
                    <a href="/workshop/demo/5">Demo 5</a>
                </li>
                <li>
                    <a href="/workshop/demo/6">Demo 6</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
