{% block menu %}

    <aside id="s-main-menu" class="sidebar">
        <div class="smm-header">
            <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
        </div>

        <ul class="smm-alerts">
            <li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                <i class="zmdi zmdi-view-list-alt"></i>
            </li>
        </ul>


        <ul class="main-menu">
            <li>
                <a href="http://shrinking-world.com"><i class="zmdi zmdi-home"></i>Seaman Tech</a>
            </li>

            <li>
                <a href="http:/aspire"><i class="zmdi zmdi-menu"></i>Aspire</a>
            </li>

            <li>
                <a href="http:/aspire/past">Past<i class="zmdi zmdi-lock"></i></a>
            </li>
            <li>
                <a href="http:/aspire/present">Present<i class="zmdi zmdi-account"></i></a>
            </li>
            <li>
                <a href="http:/aspire/future">Future<i class="zmdi zmdi-key"></i></a>
            </li>

        </ul>
    </aside>
{% endblock %}
