{% extends "mybook_theme.html" %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>Accordion</h1>
        </div>

        <div class="card-body card-padding">

            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-collapse">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true"
                               aria-controls="collapse1">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="collapse in" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body">
                            Body panel #1.
                        </div>
                    </div>
                </div>
                <div class="panel panel-collapse">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                               aria-expanded="false" aria-controls="collapse2">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            Body panel #2.
                        </div>
                    </div>
                </div>
                <div class="panel panel-collapse">
                    <div class="panel-heading" role="tab" id="heading3">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                               aria-expanded="false" aria-controls="collapse3">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body">
                            <div>
                                <br/>
                                <br/>

                                <p>Click the buttons below to show and hide another element via class changes. You can
                                    use a link with
                                    the
                                    <code>href</code> attribute, or a button with the <code>data-target</code>
                                    attribute. In both cases,
                                    the
                                    <code>data-toggle="collapse"</code> is required.</p>

                                <div class="btn-demo">
                                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
                                       aria-expanded="false"
                                       aria-controls="collapseExample">
                                        Link with href
                                    </a>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                                            data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        Button with data-target
                                    </button>
                                </div>

                                <div class="collapse m-t-10" id="collapseExample">
                                    <p>Curabitur nisi velit, placerat id diam ac, maximus aliquet ex. Integer in laoreet
                                        nisl. Maecenas
                                        auctor porta ligula, non interdum dolor hendrerit non. Class aptent taciti
                                        sociosqu ad litora
                                        torquent per conubia nostra, per inceptos himenaeos. Vestibulum tortor tellus,
                                        commodo suscipit
                                        cursus vitae, auctor eu massa. Aliquam nibh dolor, lobortis in molestie eget,
                                        tristique ac nunc.
                                        Aliquam fringilla aliquam est eu congue.</p>
                                </div>

                                <br/>
                                <br/>

                                <p class="f-500 c-black m-b-5">Optional Color Schemes</p>
                                <small>Make sure to give the available color in collapse's data-attribute
                                    'data-collase-color'
                                </small>

                                <br/>
                                <br/>

                                <div class="row">
                                    <div class="col-sm-6 m-b-25">
                                        <div class="panel-group" data-collapse-color="red" id="accordionRed"
                                             role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionRed"
                                                           href="#accordionRed-1"
                                                           aria-expanded="true">
                                                            Collapse Red #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionRed-1" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse"
                                                           data-parent="#accordionRed"
                                                           href="#accordionRed-2" aria-expanded="false">
                                                            Collapse Red #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionRed-2" class="collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 m-b-25">
                                        <div class="panel-group" data-collapse-color="green" id="accordionGreen"
                                             role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionGreen"
                                                           href="#accordionGreen-1"
                                                           aria-expanded="true">
                                                            Collapse Green #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionGreen-1" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse"
                                                           data-parent="#accordionGreen"
                                                           href="#accordionGreen-2" aria-expanded="false">
                                                            Collapse Green #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionGreen-2" class="collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 m-b-25">
                                        <div class="panel-group" data-collapse-color="amber" id="accordionAmber"
                                             role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionAmber"
                                                           href="#accordionAmber-1"
                                                           aria-expanded="true">
                                                            Collapse Amber #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionAmber-1" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse"
                                                           data-parent="#accordionAmber"
                                                           href="#accordionAmber-2" aria-expanded="false">
                                                            Collapse Amber #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionAmber-2" class="collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 m-b-25">
                                        <div class="panel-group" data-collapse-color="teal" id="accordionTeal"
                                             role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionTeal"
                                                           href="#accordionTeal-1"
                                                           aria-expanded="true">
                                                            Collapse Teal #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionTeal-1" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse"
                                                           data-parent="#accordionTeal"
                                                           href="#accordionTeal-2" aria-expanded="false">
                                                            Collapse Teal #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionTeal-2" class="collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 m-b-25">
                                        <div class="panel-group" data-collapse-color="black" id="accordionBlack"
                                             role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionBlack"
                                                           href="#accordionBlack-1"
                                                           aria-expanded="true">
                                                            Collapse Black #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionBlack-1" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse"
                                                           data-parent="#accordionBlack"
                                                           href="#accordionBlack-2" aria-expanded="false">
                                                            Collapse Black #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionBlack-2" class="collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 m-b-25">
                                        <div class="panel-group" data-collapse-color="cyan" id="accordionCyan"
                                             role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionCyan"
                                                           href="#accordionCyan-1"
                                                           aria-expanded="true">
                                                            Collapse Cyan #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionCyan-1" class="collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-collapse">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse"
                                                           data-parent="#accordionCyan"
                                                           href="#accordionCyan-2" aria-expanded="false">
                                                            Collapse Cyan #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionCyan-2" class="collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry
                                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                        skateboard dolor
                                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                        wolf moon tempor,
                                                        sunt
                                                        aliqua put a bird on it squid single-origin coffee nulla
                                                        assumenda shoreditch
                                                        et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
