/*
    Control standard HTML
 */
.banner-title {
    color : white;
    font-size: 36px;

}

.banner-text {
    color : white;
    font-size: 18px;

}
.btn-user {
    border: solid 2px white;
}

.logo-text {
    font-size: 14px;
    color : gray;
    text-align: center;
    font-weight: bolder;
}

.logo-image {
    width: 230px;
    height: 150px;
    /*border: solid 1px white;*/
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
}

.user-text {
    color : white;
    font-size: 18px;
}

.user-text a {
    color : white;
    font-size: 18px;
}

.user-text a:hover {
    color : yellow;
    font-weight: bolder;
}

/*
    Control standard HTML
 */

a {
    color: teal;
}

a:hover {
    font-weight: bolder;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

textarea {
    min-width: 80%;
    margin: 2em;
    height: 50em;
}