{% extends "layout.html" %}

{% block content %}
    {% autoescape off %}

        <div ng-controller="BudgetController">
            {% verbatim %}

            <h1>Family Budget</h1>
            <p>Show calculations for creating a bugget</p>
            <table>
                <tr>
                    <td width="40%">
                        <hr>
                        <b>Income</b>
                    </td>
                    <td width="20%">
                        <hr>
                        <input type="text" ng-model="income" ng-change="income_change()">
                    </td>
                </tr>
                <tr>
                    <td> Giving</td>
                    <td><input type="text" ng-model="giving"></td>
                </tr>
                <tr>
                    <td> Housing</td>
                    <td><input type="text" ng-model="housing"></td>
                </tr>
                <tr>
                    <td> Groceries</td>
                    <td><input type="text" ng-model="groceries" ng-change="income_change()"></td>
                </tr>
                <tr>
                    <td> Healthcare</td>
                    <td><input type="text" ng-model="healthcare" ng-change="income_change()"></td>
                </tr>
                <tr>
                    <td> Transportation</td>
                    <td><input type="text" ng-model="transportation" ng-change="income_change()"></td>
                </tr>

            </table>


            {% endverbatim %}
        </div>

    {% endautoescape %}
{% endblock %}


{% block footer %}
    <img src="http:/static/images/SWS_Globe_small.jpg">
    <br/>
    Powered by <b>Shrinking World Solutions</b>
{% endblock %}

