{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ title }}</h1>
                </div>

                <div class="card-body card-padding">
                    <div class="container-fluid">

                        <div class="row">

                            <table class="table m-10">

                                <tr>
                                    <th>ID</th>
                                    <th>Author</th>
                                    <th>Organization</th>
                                </tr>

                                {% for author in object_list %}
                                    <tr>

                                        {#                                {% for i in s.1 %}#}
                                        <td>{{ author.pk }}</td>
                                        <td>
                                            <a href="author_detail/{{ author.pk }}">{{ author.name }}&nbsp;</a>
                                        </td>
                                        <td>{{ author.organization }}</td>
                                        {#                                {% endfor %}#}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <div class="row">
                            <a href="author_add">
                                <button class="btn palette-Green bg">Create New Author</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

    </section>
{% endblock %}


