{% extends "mybook_theme.html" %}

{% block content %}
    <section id="content">
        <div class="container">

            <div class="card">

                <div class="card-header ch-alt">
                    <h1>{{ object.title }}</h1>
                    <p>by {{ object.author }}</p>
                </div>

                <div class="card-body card-padding">

                    <p><a href="/{{ object.doc }}">Start Reading</a></p>

                    <h2>Book Details</h2>
                    <ul>
                        <li>
                            <label>ID: </label> {{ object.pk }}
                        </li>
                        <li>
                            <label>Title: </label> {{ object.title }}
                        </li>
                        <li>
                            <label>Author: </label> {{ object.author }}
                        </li>
                        <li>
                            <label>Doc: </label> <a href="/mybook/{{ object.doc }}/Index">{{ object.doc }}</a>
                        </li>
                        <li>
                            <label>Published: </label> <a href="/{{ object.published }}">{{ object.published }}</a>
                        </li>
                        <li>
                            <label>Hours: </label> {{ object.hours }}
                        </li>
                        <li>
                            <label>Directory: </label> {{ stats.directory }}
                        </li>
                        <li>
                            <label>Pages: </label> {{ stats.words }}
                        </li>
                        <li>
                            <label>Words: </label> {{ stats.pages }}
                        </li>
                    </ul>

                    <a href="../book_list">
                        <button class="btn palette-Green bg">Book List</button>
                    </a>

                    <a href="../book_edit/{{ book.pk }}">
                        <button class="btn palette-Green bg">Edit Book</button>
                    </a>

                    <a href="../book_delete/{{ book.pk }}">
                        <button class="btn palette-Green bg">Delete Book</button>
                    </a>
                    <br>
                    <br>

                </div>
            </div>
            <div class="card">

                <div class="card-header ch-alt">
                    <h2>Chapters</h2>
                </div>
                <div class="card-body card-padding">

                    {% if stats.chapters %}
                        <table class="table table-hover">
                            {% for row in stats.chapters %}
                                <tr>
                                    <td><a href="/{{ object.doc }}/{{ row.0 }}">{{ row.0 }}</a></td>
                                    <td> {{ row.1 }} words</td>
                                    <td> {{ row.2 }} pages</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h3>No Chapters Defined</h3>
                    {% endif %}

                </div>

            </div>
        </div>
    </section>
{% endblock %}


