<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/guide.css">
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="{{ logo }}">
            </div>
            <div class="titles">
                <h1>Shrinking World Training</h1>
                <h2>Best Practices for Software Development</h2>
            </div>
        </header>

        {% block content %}
            <section id="content">
                <div class="container">

                    {% block card %}

                        <div class="card brd-20">

                            <div class="card-header ch-alt">
                                <h1>{{ title }}</h1>
                            </div>

                            <div class="card-body card-padding">

                                {% if text %}
                                    {% autoescape off %}
                                        <p>{{ text }}</p>
                                    {% endautoescape %}
                                {% else %}
                                    <h2>No document found. {{ doc }}</h2>
                                {% endif %}

                            </div>
                        </div>

                    {% endblock %}

                </div>
            </section>
        {% endblock %}


        <footer>
            <a href="http://shrinking-world.com">
                <div class="logo-text">Copyright &copy; 2019 Shrinking World</div>
            </a>
        </footer>

    </body>

</html>