{% extends "mybook_theme.html" %}


{% block stylesheet %}
    <link rel="stylesheet" href="/static/containers.css">
{% endblock %}


{% block content %}

    <div class="card" brd-20>
        <div class="card-header">
            <h1>{{ title }}</h1>
        </div>
        <div class="card-body card-padding">
            <ul>
                <li><a href="/{{ doc }}">{{ doc }}</a></li>
                <li><a href="/card/{{ doc }}">card view</a></li>
                <li><a href="/container/{{ doc }}">container view</a></li>
                <li><a href="/outline/{{ doc }}">outline view</a></li>
                <li><a href="/tabs/{{ doc }}">tabs view</a></li>
            </ul>

            <div class="page">

                <div class="container-fluid">

                    <div class="row">

                        {% for d1 in cards %}

                            <div class="col-sm-12">

                                <!-- d1 -->
                                <div class="d1">
                                    <div class="center"><label>{{ d1.0 }}</label></div>
                                    <p>{% autoescape off %} {{ d1.2 }} {% endautoescape %}</p>

                                    <div class="row">
                                        {% for d2 in d1.1 %}
                                            <div class="col-sm-6">

                                                <!-- d2 -->
                                                <div class="d2">
                                                    <div class="center"><label>{{ d2.0 }}</label></div>
                                                    <p>{% autoescape off %} {{ d2.2 }} {% endautoescape %}</p>
                                                    <div class="row">
                                                        {% for d3 in d2.1 %}
                                                            <div class="col-sm-6">

                                                                <!-- d3 -->
                                                                <div class="d3">
                                                                    <label>{{ d3.0 }}</label>
                                                                    {% for d4 in d3.1 %}

                                                                        <!-- d4 -->
                                                                        <div class="d4">
                                                                            <label>{{ d4.0 }}</label>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock %}