{% extends "seaman_theme.html" %}


{% block content %}
    <section id="content">
        <div class="container">

            {% block card %}

                <div class="card">

                    <div class="card-header ch-alt">
                        <h1>{{ title }}</h1>
                    </div>

                    <div class="card-body card-padding">

                        {% block page %}
                        {% endblock %}

                    </div>
                </div>

            {% endblock %}

        </div>
    </section>
{% endblock %}
