{% extends "mybook_theme.html" %}


{% block menu %}
{% endblock %}


{% block header %}
{% endblock %}


{% block content %}

    <div class="page">

        <h1>Log In to use Sensei</h1>

        {% if form.errors %}
            <p style="color: red">
                <i class="hm-icon zmdi zmdi-alert-triangle"></i>
                &nbsp; Your username and password didn't match.
                Please try again.</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">

                <div class="fg-line">
                    <span class="fg-label">{{ form.username.label_tag }}</span>
                    <span class="fg-input"><input type="text" class="form-control input" name="username"></span>
                </div>

                <div class="fg-line">
                    <span class="fg-label">{{ form.password.label_tag }}</span>
                    <span class="fg-input"><input type="password" class="form-control input" name="password"></span>
                    {#{{ form.password }}#}
                </div>

                <div>
                    <button class="btn">Log In</button>
                    Don't have a login? <a href="/register"><b>Sign Up</b></a> here.
                </div>

                <input type="hidden" name="next" value="{{ next }}"/>

            </div>

        </form>
    </div>

{% endblock %}

