<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/guide.css">
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="/static/images/SWS_Logo_200.jpg">
            </div>
            <div class="titles">
                <h1>Mark Seaman</h1>
                <h2>Inventor - Teacher - Writer</h2>
            </div>
        </header>


        <main>
            {% block content %}

                <div class="container">
                    <div class="row">
                        <div class="col-md-10">

                            {% if text %}
                                {% autoescape off %}
                                    <p>{{ text }}</p>
                                {% endautoescape %}
                            {% else %}
                                <h2>No document found. {{ doc }}</h2>
                            {% endif %}

                        </div>
                        <div class="col-md-2">

                            <div class="profile">
                                <img src="/static/images/MarkSeaman.200.png" alt="Mark Seaman">
                            </div>
                            
                        </div>
                    </div>
                </div>




            {% endblock %}
        </main>

        <footer>
            <a href="http://shrinking-world.com">
                <div class="logo-text">Copyright &copy; 2019 Shrinking World</div>
            </a>
        </footer>

    </body>

</html>