{% extends "seaman_theme.html" %}

{% block css %}

    <link rel="stylesheet" href="/static/css/guide.css">
    <link rel="stylesheet" href="/static/css/spiritual.css">

{% endblock %}


{#{% block menu %}#}
{##}
{#    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">#}
{##}
{#        <a class="navbar-brand" href="#">Spiritual Things</a>#}
{##}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"#}
{#                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbarCollapse">#}
{##}
{#            <ul class="navbar-nav mr-auto">#}
{#                <li class="nav-item{% if menu.0 %} active{% endif %}">#}
{#                    <a class="nav-link" href="/spiritual/Index">Home</a>#}
{#                </li>#}
{#                <li class="nav-item{% if menu.1 %} active{% endif %}">#}
{#                    <a class="nav-link" href="/spiritual/reflect">Reflect</a>#}
{#                </li>#}
{#                <li class="nav-item{% if menu.2 %} active{% endif %}">#}
{#                    <a class="nav-link" href="/spiritual/bible">Mediate</a>#}
{#                </li>#}
{#                <li class="nav-item{% if menu.3 %} active{% endif %}">#}
{#                    <a class="nav-link" href="/spiritual/teaching">Learn</a>#}
{#                </li>#}
{#                <li class="nav-item{% if menu.4 %} active{% endif %}">#}
{#                    <a class="nav-link" href="/spiritual/walkabout">Journey</a>#}
{#                </li>#}
{#                <li class="nav-item{% if menu.5 %} active{% endif %}">#}
{#                    <a class="nav-link" href="/spiritual/prayers">Pray</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{##}
{#    </nav>#}
{##}
{#{% endblock %}#}


{% block header %}

    <header>
        <div class="titles">
            <h1>Spiritual Things</h1>
            <h2>Daily Inspiration</h2>
        </div>
    </header>

{% endblock %}

