{% extends "seaman_theme.html" %}

{% block css %}

    <link rel="stylesheet" href="/static/css/guide.css">
    <link rel="stylesheet" href="/static/css/spiritual.css">

{% endblock %}


{#{% block header %}#}
{##}
{#    <header>#}
{#        <div class="titles container">#}
{#            <div class="row">#}
{#                <div class="col-xs-12">#}
{#                    <h1>Spiritual Things</h1>#}
{#                    <h2>Daily Inspiration</h2>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </header>#}
{##}
{#{% endblock %}#}
{##}
