{% extends "unc_theme.html" %}


{% block content %}

    <div class="card">

        <div class="card-header ch-alt">
            <a href="{{ home.1 }}">{{ home.0 }}</a>
            <h1>{{ title }}</h1>
        </div>


        <div class="card-body card-padding">

            {% if photo %}
                <p><img src="/static/images/{{ photo }}"></p>
                <p>by Mark Seaman </p>
            {% endif %}

            {% if text %}
                {% autoescape off %}
                    <p>{{ text }}</p>
                {% endautoescape %}
            {% else %}
                <h2>No document found. {{ doc }}</h2>
            {% endif %}

            {% if readmore %}
                <p>Read more <a href="{{ readmore.1 }}">{{ readmore.0 }}</a></p>
            {% endif %}

        </div>
    </div>

{% endblock %}
